
{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Trainers - FlyDeck</title>{% endblock title %}

{% block content %}
<main id="main" data-aos="fade-in">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2>Trainers</h2>
      <p>Meet our coding enthusiasts!  These skilled individuals are here to guide you through the art of coding. With their expertise, you'll uncover the secrets of creating websites, games, and apps. Every code you learn under their guidance will open doors to exciting possibilities. Join us in a tranquil journey into the world of coding, where learning becomes a serene and enriching experience. 
      </p>
    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Trainers Section ======= -->
  <section id="trainers" class="trainers">
    <div class="container" data-aos="fade-up">

      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <!-- Add the image at the top -->
            <img src="{% static 'assets/img/trainers/trainer-1.jpg' %}" class="img-fluid" alt="Top Image">
        
            <div class="member-content">
              <h4>Sarah Jhinson</h4>
              <span>Marketing</span>
              <p>
                Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <!-- Add the image at the top -->
            <img src="{% static 'assets/img/trainers/trainer-2.jpg' %}" class="img-fluid" alt="Top Image">
        
            <div class="member-content">
              <h4>Sarah Jhinson</h4>
              <span>Marketing</span>
              <p>
                Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <!-- Add the image at the top -->
            <img src="{% static 'assets/img/trainers/trainer-3.jpg' %}" class="img-fluid" alt="Top Image">
        
            <div class="member-content">
              <h4>Sarah Jhinson</h4>
              <span>Marketing</span>
              <p>
                Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Trainers Section -->

</main><!-- End #main -->
{% endblock content %}
